*{
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;
}

body{
  background-color: #f0f2f5;
  color: #5f5f5f;
}

a{
  text-decoration: none;
  color: #5f5f5f;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 6px 6px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.logo img{
  width: 30px;
  margin-right: 15px;
  display: block;
}

.nav-bar-center ul li {
  display: inline-block;
  list-style: none;
}

.nav-bar-center ul li a{
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 5px 8px;
  padding-right: 5px;
  position: relative;
}

.nav-bar-center ul li a img{
  width: 30px;
}

.nav-bar-center ul li a::after
{
  content: '';
  width: 0;
  height: 2px;
  background-color: #2274f8;
  position: absolute;
  bottom: -15px;
  transition: width 0.3s;
}

.nav-bar-center ul li a:hover::after,
.nav-bar-center ul li a.nav-active-link::after
{
  width: 100%;
}

.user-nav-profile
{
  width: 40px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}

.user-online{
  position: relative;
}

.user-online::after
{
  content: '';
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  right: 0px;
  top: 0px;
  background-color: #41db51;
  position: absolute;
}

.nav-search-box
{
  background: #f0f2f5;
  width: 250px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.nav-bar-left
{
  display: flex;
  align-items: center;
}

.nav-search-box img{
  width: 14px;
}

.nav-search-box input
{
  width: 100%;
  background-color: transparent;
  padding: 8px;
  outline: none;
  border: none;
}

/* Nav-Bar End */

.container{
  padding: 20px 6%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* left side-bar  */

.left-side-bar{
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}

.left-side-bar-user-profile-box{
  background-color: #fff;
}

.left-side-user-profile-information
{
  padding: 0 25px;
}

.left-side-user-profile-information img 
{
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
  padding: 4px;
  margin-top: -45px;
}

.left-side-user-profile-information h1
{
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.left-side-user-profile-information h3
{
  font-size: 14px;
  font-weight: 500px;
  color: #777;
}

.left-side-user-profile-information ul
{
  list-style: none;
  margin: 20px 0;
}

.left-side-user-profile-information ul li
{
  width: 100%;
  margin: 5px 0;
  font-size: 13px;
}

.left-side-user-profile-information ul li span
{
  float: right;
  color: #1971ff;
}

.left-side-bar-user-profile-link
{
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
}

.left-side-bar-user-profile-link a
{
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 13px;
  border-left: 1px solid #ccc;
}

.left-side-bar-user-profile-link a:first-child
{
  border-left: 0;
}

.left-side-bar-user-profile-link a img
{
  width: 20px;
  margin-right: 10px;
}

.left-side-bar-user-activity
{
  background-color: #fff;
  padding: 5px 25px;
  margin: 12px 0;
}

.left-side-bar-user-activity h3
{
  color: #777;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 10px;
}

.left-side-bar-user-activity a
{
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #888;
  margin: 3px 0;
}

.left-side-bar-user-activity a img
{
  width: 20px;
  margin-right: 5px;
}

.left-discover-more-link
{
  border-top: 1px solid #ccc;
  text-align: center;
  margin-top: 20px;
  /* margin-left: -25px; */
  /* margin-right: -25px; */
}

.left-discover-more-link a
{
  color: #14717c;
  display: inline-block;
  margin: 10px;
}

/* right side-bar  */

.right-side-bar
{
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}

.right-side-bar-news
{
  background-color: #fff;
  padding: 5px 25px;
}

.right-information-icon
{
  width: 15px;
  float: right;
  margin-top: 15px;
}

.right-side-bar-news h3
{
  font: 18px;
  font-weight: 600;
  color: #333;
  margin: 10px 0 30px;
}

.right-side-bar-news a
{
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: -5px;
}

.right-side-bar-news span
{
  font-size: 12px;
}

.right-side-bar-news .right-side-bar-read-more-links
{
  color: #14717c;
  font-weight: 500;
  margin: 20px 0 10px;
}

.right-side-bar-ads{
  background-color: #fff;
  padding: 15px 25px;
  text-align: center;
  margin: 12px 0;
  font-size: 12px;
}

.right-side-bar-ads img{
width: 60px;
border-radius: 50%;
}

.right-side-bar-ads small
{
  float: right;
  font-weight: 500;
}

.right-side-bar-ads p{
  margin-top: 30px;
  margin-bottom: 10px;
}

.right-side-bar-ads b
{
  display: block;
  font-weight: 500;
  margin-top: 10px;
}

.right-side-bar-ads-links
{
  display: inline-block;
  border: 1px solid #009aaf;
  padding: 5px 15px;
  border-radius: 30px;
  color: #0099ff;
  font-weight: 500;
  margin: 20px auto 10px;
}

.right-side-bar-useful-link
{
  padding: 15px 25px;
  text-align: center;
}

.right-side-bar-useful-link a
{
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
}

.copy-right
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 500;
}

.copy-right img {
width: 18px;
margin-right: 4px;
}

/* center content  */

.center-content
{
  flex-basis: 47%;
}

.user-creat-post{
  background-color: #fff;
}

.user-create-post-write{
  padding: 20px 25px 10px;
  display: flex;
  align-items: flex-start;
}

.user-create-post-write img {
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-create-post-write textarea 
{
  width: 100%;
  border: 0;
  outline: 0;
  resize: none;
  background: transparent;
  margin-top: 8px;
}
::placeholder
{
  font-weight: 500;
}

.user-create-post-link{
  display: flex;
  align-items: flex-start;
}

.user-create-post-link li{
  list-style: none;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  flex-basis: 25%;
  height: 40px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.user-create-post-link li img
{
  width: 15px;
  margin-right: 5px;
}

.user-create-post-link li:last-child
{
  background-color: #009aaf;
  color: #fff;
  border-top: 0;
  border-right: 0;
}

.user-sort-by{
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.user-sort-by hr{
  flex: 1;
  border: 0;
  height: 1px;
  background-color: #ccc;
}

.user-sort-by p{
  font-size: 13px;
  padding-left: 5px;
}

.user-sort-by p span{
  font-weight: 600;
  cursor: pointer;
}

.user-sort-by p span img{
  width: 12px;
  margin-left: 3px;
}

.user-of-linkedin-post{
  background-color: #fff;
  padding: 20px 25px 5px;
  margin: 5px 0 15px;
}

.user-of-linkedin-post-author{
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.user-of-linkedin-post-author img
{
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
}

.user-of-linkedin-post-author h1
{
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: -1px;
}

.user-of-linkedin-post-author small{
  display: block;
  margin-bottom: -2px;
}

.user-of-linkedin-post p
{
  font-size: 14px;
  margin-bottom: 15px;
}

.user-post-status
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}

.user-post-status div
{
  display: flex;
  align-items: center;
}

.user-post-status img{
  width: 15px;
  margin-right: -5px;
}

.user-liked-this-post
{
  margin-left: 10px;
}

.user-post-activity{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
}

.user-post-activity div{
  display: flex;
  align-items: center;
}

.user-post-activity-icon{
  width: 22px;
  border-radius: 50%;
}

.user-post-activity-arrow-icon 
{
  width: 12px;
  margin-left: 5px;
}

.user-post-activity-link img
{
  width: 18px;
  margin-right: 8px;
}


/* profile menu  */

.user-profile-menu
{
position: absolute;
top: 100%;
right: 5%;
width: 320px;
max-height: 0;
overflow: hidden;
transition: max-height 0.3s;
}

.user-profile-menu.profile-menu
{
  max-height: 450px;
}

.profile-menu{
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin: 10px;
}

.user-information{
  display: flex;
  align-items: center;
}

.user-information img{
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-information h3{
  font-weight: 500;
  margin-bottom: -7px;
}

.user-information a{
  color: #fff;
  font-size: 13px;
}

.profile-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 15px 0 10px;
}

.user-profile-menu-link
{
  display: flex;
  align-items: center;
  color: #fff;
  margin: 12px 0;
  font-size: 14px;
}

.user-profile-menu-link p{
  width: 100%;
}

.user-profile-menu-link img
{
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}


/* profile page  */

.user-profile-center {
  flex-basis: 73%;
}

.user-profile-side-bar {
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}

.user-profile-container {
  background-color: #fff;
}

.user-profile-inner {
  padding: 0 4% 10px;
}

.user-profile-image {
  width: 150px;
  border-radius: 50%;
  margin-top: -75px;
  padding: 5px;
  background-color: #fff;
}

.user-profile-container h1 {
  font-weight: 600;
  font-size: 28px;
  color: #333;
}

.user-profile-container b {
  font-weight: 500;
}

.user-profile-container p {
  margin-top: 5px;
}

.user-profile-container p a {
  color: #239de3;
  font-weight: 500;
}

.user-mutual-connection {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.user-mutual-connection img {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.user-profile-button {
  margin: 20px 0;
}

.user-profile-button a {
  display: inline-flex;
  align-items: center;
  background-color: #bebebe;
  padding: 6px 15px;
  border-radius: 4px;
  margin-right: 10px;
}

.user-profile-button a img {
  width: 18px;
  margin-right: 5px;
}

.user-profile-button .user-profile-primary-button {
  background-color: #0a6e99;
  color: #fff;
}

.user-profile-description {
  background-color: #fff;
  padding: 20px 4% 30px;
  margin: 12px 0;
}

.user-profile-description h2 {
  color: #333; 
  margin: 10px 0 20px;
  font-weight: 600;
}

.user-profile-more-button {
  display: block;
  text-align: right;
  font-size: 15px;
}

.user-profile-description-row
{
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}

.user-profile-description-row img{
  width: 50px;
  margin-right: 25px;
  margin-top: 19px;
}

.user-profile-description-row div{
  width: 100%;
}

.user-profile-description-row h3{
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.user-profile-description-row b {
  display: block;
  font-weight: 500;
  font-size: 15px;
}

.user-profile-description-row p{
  margin-top: 15px;
}

.user-profile-description-row hr{
  border: 0;
  border-bottom: 1px solid #999;
  margin-top: 10px;
}

.user-profile-experience-link{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-weight: 500;
}

.user-profile-experience-link img
{
  width: 20px;
  margin-left: 8px;
}

.user-profile-skills-button{
  display: inline-block;
  margin: 10px 5px;
  padding: 6px 18px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
}

.user-profile-language-button{
  display: inline-block;
  margin: 10px 5px;
  padding: 6px 18px;
  background-color: #f3f3f3;
  font-size: 12px;
  font-weight: 500;
  border-radius: 20px;
}


/* profile right side-bar  */

.user-profile-side-bar .right-side-bar-ads
{
  margin: 0;
}

.user-profile-side-bar-people 
{
  background-color: #fff;
  padding: 15px 25px;
  margin: 12px 0;
  font-size: 12px;
}

.user-profile-side-bar-people h3{
  font-size: 16px;
  font-weight: 600;
  margin: 10px 2px;
}

.user-profile-side-bar-row
{
  display: flex;
  align-items: flex-start;
  margin: 6px 0;
}

.user-profile-side-bar-row img{
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 5px;
}

.user-profile-side-bar-row h2
{
 font-weight: 500;
 font-size: 16px; 
}

.user-profile-side-bar-row a{
  display: inline-block;
  margin: 10px 0;
  padding: 5px 25px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-weight: 500;
}

.user-profile-footer
{
  padding: 0 6% 30px;
}

.user-profile-footer .right-side-bar-useful-link
{
  text-align: left;
  padding: 0;
}

.user-profile-footer .copy-right
{
  justify-content: flex-start;
}

 #showMoreLink
{
  display: none;
}

/* media query  */

@media only screen and (max-width: 600px)
{
  .nav-search-box
  {
    background: transparent;
    width: auto;
    padding: 0;
  }
  .nav-search-box input{
    width: 0;
    padding: 0;
  }
  .nav-bar-center ul li a span{
    display: none;
  }
  .nav-bar-center ul li a{
    padding-right: 0;
    margin: 3px;
  }
  .user-nav-profile
  {
    width: 30px;
  }
  .container
  {
    padding: 15px 3%;
  }
  .left-side-bar, .right-side-bar
  {
    flex-basis: 100%;
    position: relative;
    top: unset;
  }
  .center-content
  {
    flex-basis: 100%;
  }
  .user-post-status div{
    margin: 2px 0;
  }
  .user-post-activity-link span
  {
    display: none;
  }
  .user-post-activity-link img{
    margin-right: 0;
  }
  .user-profile-center, .user-profile-side-bar
  {
    flex-basis: 100%;
  }
  .user-profile-container
  {
    font-size: 14px;
  }
  .user-profile-image{
    width: 100px;
    margin-top: -50px;
  }
  .user-profile-description{
    font-size: 14px;
  }
  #showMoreLink
  {
    display: block;
    width: fit-content;
    margin: 10px auto;
    font-size: 14px;
    cursor: pointer;
  }
  .left-side-bar-user-activity{
    display: none;
  }
  .left-side-bar-user-activity.open-activity
  {
    display: block;
  }


}





























